{% extends "base.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% block extrahead %}
  {% render_bundle 'stats' 'css' %}
{% endblock extrahead %}

{% block title %}GZ - Statsy{% endblock %}



{% block content %}
  <div id="react"></div>
  <div class="row">
    <div class="col-6 table-responsive">
      <table class="table table-bordered table-striped table-sm">
        <tr>
          <th colspan="3">Zasoby</th>
        </tr>
        <tr>
          <td colspan="2">Liczba wszystkich hostów</td>
          <td>{{ all_hosts }}</td>
        </tr>
        <tr>
          <td></td>
          <td colspan="">Dostępni teraz</td>
          <td> {{ active_hosts }} </td>
        </tr>
        <tr>
          <td></td>
          <td colspan="">Żółwie</td>
          <td> {{ turtle_hosts }} </td>
        </tr>
        <tr>
          <td></td>
          <td colspan="">Dostępne żółwie</td>
          <td> {{ active_turtle_hosts }} </td>
        </tr>
        <tr>
          <td></td>
          <td colspan="">Zignorowani</td>
          <td> {{ cancelled_hosts }} </td>
        </tr>
      </table>
    </div>
    <div class="col-6 table-responsive">
      <table class="table table-bordered table-striped table-sm">
        <tr>
          <th colspan="3">Zgłoszenia</th>
        </tr>
        <tr>
          <td colspan="2">Liczba wszystkich zgłoszeń</td>
          <td> {{ all_subs }}</td>
        </tr>
        <tr>
          <td></td>
          <td colspan="">W tym sukcesów</td>
          <td> {{ all_success }} ({{ all_success_ratio }})</td>
        </tr>
        <tr>
          <td></td>
          <td>W tym anulowanych</td>
          <td> {{ all_cancelled }} ({{ all_cancelled_ratio }})</td>
        </tr>
        <tr>
          <td colspan="2">Liczba zgłoszeń na dworcu</td>
          <td> {{ terrain_subs }} ({{ terrain_ratio }})</td>
        </tr>
        <tr>
          <td></td>
          <td>W tym sukcesów</td>
          <td> {{ terrain_success }} ({{ terrain_success_ratio }})</td>
        </tr>
        <tr>
          <td></td>
          <td>W tym anulowanych</td>
          <td> {{ terrain_cancelled }} ({{ terrain_cancelled_ratio }})</td>
        </tr>
      </table>
    </div>
  </div>


{% endblock content %}

{% block inline_javascript %}
  {{ block.super }}

  {{ props|json_script:"pageProps" }}
  <script>
    window.props = JSON.parse(document.getElementById('pageProps').textContent);
    window.react_mount = document.getElementById('react');
  </script>
  {% render_bundle 'stats' 'js' %}

{% endblock %}
