.body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.row {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

p {
  max-width: 600px;
  margin: 10px auto;
  text-align: justify;
}

.resource-form {
  max-width: 600px;
  margin: 0 auto;
}
