$our-yellow: #ffd200;
$our-grey: #dedede;
$logo-blue: #005eaa;
$our-red: #d33e43;
$our-green: #519872;
$our-white: #fafafa;
$our-orange: #fc9e4f;

body {
  background-color: $our-white;

  /* font-family: proxima-nova, sans-serif; */
}

#react {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

a {
  color: black;
}

.r-id-col {
  max-width: 60px;
  overflow: auto;
}

.column-headers {
  display: flex;
  border-bottom: 2px solid #696969;

  /* Hack to align with body columns when scrollbar is not overlayed but takes up space */
  overflow-y: scroll;

  .col-head {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-weight: bold;

    .top {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }

  .r-id-col {
    font-weight: bold;
  }
}

.col-head-display-wrapper,
.col-head-emoji {
  margin-right: 0.5em;
}

.col {
  flex: 1 0 50px;
  padding: 2px;
  width: 250px;
  border-top: 1px solid #696969;
  border-right: 1px solid #696969;
  font-size: 12px;
  text-align: center;

  &:first-child {
    border-left: 1px solid #696969;
  }

  &:last-child {
    border-right: 0;
  }
}

.col-hot-sort {
  width: auto;
  max-width: 160px;
  overflow: hidden;
}

.tr-host {
  td,
  th {
    border-color: black;
    background-color: azure;
  }
}

.table {
  margin-bottom: 0;
  border-radius: 8px;

  td,
  th {
    padding: 1px;
    vertical-align: middle;
  }
}

.sub-table {
  background-color: white;
  font-size: 12px;
  border-radius: 0;

  th {
    padding-left: 2px;
  }

  tr:last-child {
    td,
    th {
      border: 0;
      vertical-align: middle;
    }
  }
}

.resource-row {
  display: flex;
  flex-direction: column;
  font-size: 12px;

  .base-content {
    display: flex;

    .col {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    .col-availability {
      padding: 0;
      border-bottom: 0;
      overflow: hidden;

      input {
        min-height: 40px;
        padding: 2px;
        width: 100%;
        border: 0;
        border-radius: 0;
        background: transparent;
        color: inherit;
        box-shadow: 0 1px 1px #696969;
      }
    }
  }

  .col-hot-sort {
    padding: 0;

    .btn-group {
      border-radius: 0;
      height: 100%;
      width: 100%;

      .btn {
        border: 0;
        border-right: 1px solid #696969;
        border-radius: 0;
        margin: 0 !important;

        &:last-child {
          border: 0;
        }
      }

      .btn:focus {
        box-shadow: none !important;
      }
    }
  }

  .row-expanded {
    margin-bottom: 10px;

    th:nth-of-type(odd):not([colspan="3"]),
    td:nth-of-type(odd):not([colspan="3"]) {
      background-color: rgba(#000, 0.05);
    }
  }

  &:first-child {
    .col {
      border-top: 0;
    }
  }

  /* border: 1px solid black;
  border-bottom: 0; */
  &:last-child {
    border-bottom: 1px solid #696969;
  }
}

.sort-active {
  color: black;
  cursor: pointer;
}

.no-pointer {
  cursor: unset !important;
}

.sort-muted {
  color: grey;
  cursor: pointer;
}

.search-input {
  border: 0;
  border-bottom: 1px solid lightslategray;
  outline: 0;
  margin-left: 2px;
  background-color: transparent;
  max-width: 10vw;
}

.hide {
  visibility: hidden !important;
}

.row-verified {
  background-color: #f9dae6;
  color: inherit;
}

.row-cherry {
  background-color: #b76780;
  color: #fff;
}

.row-dropped {
  background-color: lightcyan;
  color: inherit;
}

.row-ready {
  background-color: #b5ffe1 !important;
  color: inherit;
}

.row-processing {
  background-color: #ff6d01;
  color: inherit;
}

.row-success {
  background-color: $our-green;
  color: inherit;
}

.row-ignore {
  background-color: $our-red;
  color: inherit;
}

.submission-row {
  border: 1px black solid;
  border-radius: 10px;
  margin: 20px 2px;

  /* padding: 10px; */

  tr:not(.no-striping):not(.tr-host) {
    &:not(:last-child) th:nth-of-type(odd),
    &:not(:last-child) td:nth-of-type(odd),
    &:last-child td:nth-of-type(odd):not(:empty),
    &:last-child th:nth-of-type(odd):not(:empty) {
      background-color: rgba(#000, 0.03) !important;
    }
  }

  &.sub-searching {
    tr:not(.no-striping):not(.tr-host) {
      &:not(:last-child) th:nth-of-type(odd),
      &:not(:last-child) td:nth-of-type(odd),
      &:last-child td:nth-of-type(odd):not(:empty),
      &:last-child th:nth-of-type(odd):not(:empty) {
        background-color: rgba(#f9d200, 0.05) !important;
      }
    }
  }

  &.sub-in-progress-host-coming:not(.sub-searching) {
    tr:not(.no-striping):not(.tr-host) {
      &:not(:last-child) th:nth-of-type(odd),
      &:not(:last-child) td:nth-of-type(odd),
      &:last-child td:nth-of-type(odd):not(:empty),
      &:last-child th:nth-of-type(odd):not(:empty) {
        background-color: rgba(#d33e43, 0.05) !important;
      }
    }
  }
}

.rename-input {
  &:hover {
    background-color: #d6e9c6 !important;
  }
}

.transport-btns {
  display: flex;
  flex-direction: column;

  button {
    margin: 30px auto;
    max-width: 400px;
  }
}

.sub-gone {
  background-color: cyan !important;
}

.sub-new {
  border: 2px solid $our-grey;
  background-color: white !important;
}

.sub-in-future {
  background-color: magenta !important;
  border-color: magenta !important;
}

.sub-success {
  background-color: $our-green !important;
  border-color: $our-green;
}

.sub-in-progress-host-coming {
  background-color: $our-red !important;
  border-color: $our-red;
  color: #fff;
}

.sub-in-progress {
  background-color: $our-orange !important;
  border-color: $our-orange;
}

.sub-searching {
  background-color: $our-yellow !important;
  border-color: $our-yellow;
}

.coordinators {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.good-message {
  text-align: center;
  color: $our-green;
}

.dropped-row {
  border: 4px $logo-blue solid;
  margin: 10px 0;
  background-color: white;
}

.pick-up-true {
  border-color: $our-red !important;
}

.dropped-container {
  max-height: 40vh;
  overflow: auto;
  min-height: 25vh;
}

.sub-id {
  margin: 0 auto;
  text-align: center;
  font-weight: bolder;
}

.col-short {
  max-width: 120px;
}

/* .sub-active {
  position: sticky;
  top: 40px;
} */

.sub-cancelled {
  background-color: $our-grey;

  .table {
    background-color: $our-grey;
  }
}

.resource-rows {
  overflow: auto;
  max-height: 400px;
}

.submission-list {
  flex: 1;
  overflow: auto;
}

.panel-header {
  font-family: proxima-nova, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.quick-filters {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: 1px solid $our-grey;
}

.quick-filter {
  label {
    margin-right: 6px;
  }
}

.host-call-buttons {
  display: flex;
  flex-direction: column;

  button {
    margin: 20px auto;
    width: 300px;
  }
}

/* ribbon */

.ribbon {
  width: fit-content;
  height: 50px;
  margin: 10px auto 0;
  position: relative;
  padding: 0 10px;
  color: #fff;
  font: 26px/50px proxima-nova, sans-serif;
  text-align: center;
  text-transform: uppercase;
  background: #3d79d0;
  animation: main 250ms;
}

.ribbon i {
  position: absolute;
}

.ribbon i:first-child,
.ribbon i:nth-child(2) {
  position: absolute;
  left: -20px;
  bottom: -20px;
  z-index: -1;
  border: 20px solid transparent;
  border-right-color: #043140;
  animation: edge 500ms;
}

.ribbon i:nth-child(2) {
  left: auto;
  right: -20px;
  border-right-color: transparent;
  border-left-color: #043140;
}

.ribbon i:nth-child(3),
.ribbon i:last-child {
  width: 20px;
  bottom: -20px;
  left: -40px;
  z-index: -2;
  border: 30px solid #1d53c0;
  border-left-color: transparent;
  animation: back 600ms;
  transform-origin: 100% 0;
}

.ribbon i:last-child {
  bottom: -20px;
  left: auto;
  right: -40px;
  border: 30px solid #1d53c0;
  border-right-color: transparent;
  transform-origin: 0 0;
}

.switch.on,
.switch-on {
  background-color: green !important;
  border-color: green !important;
}

/* animations */

@keyframes main {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

@keyframes edge {
  0%,
  50% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes back {
  0%,
  75% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

@keyframes main {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

@keyframes edge {
  0%,
  50% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes back {
  0%,
  75% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

@keyframes main {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

@keyframes edge {
  0%,
  50% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes back {
  0%,
  75% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}
