.column-headers {
  display: flex;

  .col-head {
    text-align: center;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;

    .top {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}

.resource-row {
  display: flex;
  flex-direction: column;

  .base-content {
    cursor: pointer;
    display: flex;
  }

  /* border: 1px solid black;
  border-bottom: 0; */
  &:last-child {
    border-bottom: 1px solid black;
  }
}

.sort-active {
  color: black;
  cursor: pointer;
}

.sort-muted {
  color: grey;
  cursor: pointer;
}

.col {
  padding: 2px;
  width: 250px;
  border: 1px solid black;
  border-bottom: 0;
}

.search-input {
  border: 0;
  border-bottom: 1px solid lightslategray;
  outline: 0;
  margin-left: 2px;
}

.hide {
  visibility: hidden !important;
}

.row-verified {
  background-color: #f0f;
}

.row-processing {
  background-color: #ff6d01;
}

.row-success {
  background-color: #34a853;
}

.row-ignore {
  background-color: red;
}

.submission-row {
  border: 2px solid lightslategray;
  border-radius: 10px;
  margin: 20px 2px;
  padding: 10px;
}

.rename-input {
  &:hover {
    border: 1px solid black;
  }
}
